<head>
    <link rel="stylesheet" type="text/css" href="/src/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Mania</title>
</head>

<body>
    <div class="header-menu">

        <div class="menu-principal">
            <div class="main">
                <div class="header-1">
                    <div class="icon-game-mania">
                        <a href=""><img src="assets/img/logo-game-mania.png" alt="Logo Game Mania" width="130px" /></a>
                    </div>
                    <div class="search-box">
                        <input type="text" class="search-text" placeholder="Search..." />
                        <a class="search-btn">
                            <img class="loupe-black" src="assets/img/icon-search-black.png" alt="" width="23px" />
                            <img class="loupe-white" src="assets/img/icon-search-white.png" alt="" width="23px" />
                        </a>
                    </div>
                    <div class="icons-menu">
                        <ul>
                            <li>
                                <a href=""><img src="assets/img/icon-flag.png" alt="Icon Flag" /></a>
                            </li>
                            <li>
                                <a href=""><img src="assets/img/icon-notify.png" alt="Icon Notify" /></a>
                            </li>
                            <li>
                                <a href=""><img src="assets/img/icon-profile.png" alt="Icon Profile" /></a>
                            </li>
                            <li>
                                <a href=""><img src="assets/img/Carrinho.png" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                    <div class="log-user">
                        <a class="welcome">Welcome</a>
                        <a class="sign" routerLink="/login">Sign In / Register</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/src/assets/js/mobile-navbar.js"></script>
        <div class="banner-principal">
            <a href=""><img class="banner" src="assets/img/BannerPSC.png" alt="" width="100%" /></a>
        </div>
        <div class="product-inventory">
            <ul class="product-list">
                <li id="components"><a href="">Components</a></li>
                <li id="computers"><a href="">Computers</a></li>
                <li id="games"><a href="">Games</a></li>
                <li id="ma"><a href="">Machine Assembly</a></li>
                <li id="metaverse"><a href="">Metaverse</a></li>
                <li id="note"><a href="">Notebooks</a></li>
                <li id="speak"><a href="">Speakers</a></li>
                <li id="soft"><a href="">Software</a></li>
            </ul>
        </div>
        <div class="bar-inf">
            <a href=""><img id="just-deal" src="assets/img/JustDeals.jpeg" alt="Just Deals"></a>
        </div>
        <!-- Caixas de produtos -->
        <div class="header-product">
            <div id="header-cat-fil">
                <p id="category">Ofers</p>
                <a href="">
                    <p id="filter">Sort by </p>
                </a>
            </div>
        </div>
        <div class="buy-box">
            <div class="box-product">
                <ul id="boxes">
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/headset3.jpg" alt="" width="70%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$45</p>
                            <p id="price-small">.31</p>
                            <p id="off">12%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Headset - White & Purple</p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/headset1.jpg" alt="" width="70%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$54</p>
                            <p id="price-small">.22</p>
                            <p id="off">10%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Black Headset - RGB</p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/heaset2.jpg" alt="" width="70%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$23</p>
                            <p id="price-small">.41</p>
                            <p id="off">10%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Black Headset - RGB</p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/microfone1.png" alt="" width="47%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$51</p>
                            <p id="price-small">.50</p>
                            <p id="off">30%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Iron Arm Mic</p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/microfone2.jpg" alt="" width="70%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$32</p>
                            <p id="price-small">.58</p>
                            <p id="off">20%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Red Mic </p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="see-fav">
                <ul id="see-more">
                    <li id="sm1">See more</li>
                    <li id="sm2">See more</li>
                    <li id="sm3">See more</li>
                    <li id="sm3">See more</li>
                    <li id="sm3">See more</li>
                </ul>
                <ul id="favorite">
                    <li id="fav1">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                    <li id="fav2">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                    <li id="fav3">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                    <li id="fav3">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                    <li id="fav3">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="buy-box">
            <div class="box-product2">
                <ul id="boxes">
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/mouse1.jpg" alt="" width="70%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$12</p>
                            <p id="price-small">.52</p>
                            <p id="off">20%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Mouse - Black & Blue - DPI Config </p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/mouse2.png" alt="" width="70%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$10</p>
                            <p id="price-small">.32</p>
                            <p id="off">20%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Mouse - Black & Purple - DPI Config</p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/mousepad.jpg" alt="" width="70%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$09</p>
                            <p id="price-small">.91</p>
                            <p id="off">10%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Mousepad - USB - Black&Grey   Corsair</p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/mousepad2.jpg" alt="" width="75%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$20</p>
                            <p id="price-small">.31</p>
                            <p id="off">10%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Mousepad - RGB - USB - Color control</p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                    <li id="box">
                        <div id="square">
                            <img id="image-product" src="assets/img/cadeira-gamer.png" alt="" width="50%">
                        </div>
                        <div id="desc">
                            <p id="price-big">$87</p>
                            <p id="price-small">.17</p>
                            <p id="off">20%Off</p>
                            <p id="ship">Free shipping</p>
                            <p id="description">Gaming chair - Blue - Super Confort </p>
                            <p id="stars-5">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                                <img src="assets/img/star.png" alt="" width="20px" height="20px">
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="see-fav">
                <ul id="see-more">
                    <li id="sm1">See more</li>
                    <li id="sm2">See more</li>
                    <li id="sm3">See more</li>
                    <li id="sm3">See more</li>
                    <li id="sm3">See more</li>
                </ul>
                <ul id="favorite">
                    <li id="fav1">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                    <li id="fav2">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                    <li id="fav3">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                    <li id="fav3">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                    <li id="fav3">Favorite <img id="imgstar" src="assets/img/star.png" alt=""></li>
                </ul>
            </div>
        </div>
        <footer>
            <div class="footer-info">
                <ul id="footer-category">
                    <li id="cat-footer">
                        <p>About us</p>
                    <li id="cat-footer">
                        <p>Carrers</p>
                    </li>
                    <li id="cat-footer">
                        <p>Contacts</p>
                    <li id="cat-footer">
                        <p>Social Media</p>
                    </li>
                    <li id="cat-footer">
                        <p>Support</p>
                    </li>
                </ul>
                <div class="foot-hover">
                    <ul id="about-us">
                        <li><a href="">
                                <p>History</p>
                            </a></li>
                        <li><a href="">
                                <p>Goals</p>
                            </a></li>
                    </ul>
                    <ul id="careers">
                        <li><a href="">
                                <p>Be a reseller</p>
                            </a></li>
                        <li><a href="">
                                <p>Developer</p>
                            </a></li>
                        <li><a href="">
                                <p>Deliveryman</p>
                            </a></li>
                    </ul>
                    <ul id="contacts">
                        <li><a href="">
                                <p>gmaniactt@gmail.com</p>
                            </a></li>
                        <li><a href="">
                                <p>Fone: 361-8741</p>
                            </a></li>
                    </ul>
                    <ul id="social-media">
                        <li><a href="">
                                <p>@gamemania</p>
                            </a></li>
                        <li><a href="">
                                <p>@game_mania</p>
                            </a></li>
                        <li><a href="">
                                <p>Game Mania</p>
                            </a></li>
                        <li><a href="">
                                <p>@gamemania</p>
                            </a></li>
                    </ul>
                    <ul id="imgs-foot">
                        <li><img src="assets/img/instagram.png" alt=""></li>
                        <li><img src="assets/img/twitter.png" alt=""></li>
                        <li><img src="assets/img/facebook.png" alt=""></li>
                        <li><img src="assets/img/tiktok.png" alt=""></li>
                    </ul>
                    <ul id="support">
                        <li><a href="">
                                <p>Click here for support</p>
                            </a></li>
                        <li><a href="">
                                <p>gamasupport@gmail.com</p>
                            </a></li>
                    </ul>
                </div> 
            </div>
        </footer>


    </div>
</body>